.react-paint-canvas-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-paint-canvas-container {
  position: relative;
  background-color: var(--react-paint-app-canvas-bg);
  background-repeat: repeat;
  background-size: 16px;
  overflow: hidden;
  display: grid;
  cursor: var(--react-paint-canvas-cursor);
}

.react-paint-canvas-container[data-grow='true'] {
  width: 100%;
  height: 100%;
}

.react-paint-canvas-drawcanvas {
  position: relative;
  user-select: none;
  max-width: 100%;
  /* prevent scroll on touch */
  touch-action: none;
  display: block;
  grid-area: 1 / 1;
}

.react-paint-canvas-drawcanvas[data-grow='true'] {
  width: 100%;
}

.react-paint-canvas-selectioncanvas {
  position: relative;
  user-select: none;
  position: relative;
  max-width: 100%;
  pointer-events: none;
  /* prevent scroll on touch */
  touch-action: none;
  display: block;
  grid-area: 1 / 1;
}

.react-paint-canvas-selectioncanvas[data-grow='true'] {
  width: 100%;
}
