#react-paint-root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background: #F3F3F3;

}

#react-paint-root .examples {
  display: flex;
}

#react-paint-root .menu {
  width: 250px;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

#react-paint-root .menu a {
  margin: 8px;
  padding: 4px;
}

#react-paint-root .menu a.selected {
  color: green;
}

#react-paint-root .currentApp {
  flex: 1;
  min-width: 0;
}
