body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F3F3F3;
}

.examples {
  display: flex;
}

.menu {
  width: 250px;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.menu a {
  margin: 8px;
  padding: 4px;
}

.menu a.selected {
  color: green;
}

.currentApp {
  flex: 1;
  min-width: 0;
}
