.react-paint-editor-canvas-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-paint-editor-canvas-container {
    position: relative;
    background-color: var(--react-paint-editor-app-canvas-bg);
    background-repeat: repeat;
    background-size: 16px;
    overflow: hidden;
    display: grid;
}

.react-paint-editor-canvas-container[data-grow='true'] {
    width: 100%;
    height: 100%;
}

.react-paint-editor-canvas-drawcanvas {
    user-select: none;
    max-width: 100%;
    touch-action: none;
    /* prevent scroll on touch */
    display: block;
    grid-area: 1 / 1;
}

.react-paint-editor-canvas-drawcanvas[data-grow='true'] {
    width: 100%;
}

.react-paint-editor-canvas-selectioncanvas {
    user-select: none;
    position: relative;
    max-width: 100%;
    touch-action: none;
    /* prevent scroll on touch */
    display: block;
    grid-area: 1 / 1;
    ;
    cursor: var(--react-paint-editor-canvas-cursor)
}

.react-paint-editor-canvas-selectioncanvas[data-grow='true'] {
    width: 100%;
}