.react-paint-editor-app {
    display: flex;
    color: var(--react-paint-editor-app-font-color);
    position: relative;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.react-paint-editor-app[data-grow='false'] {
    max-width: min(100%, var(--react-paint-editor-app-canvaswidth));
}

.react-paint-editor-app[data-shrink='false'] {
    min-width: var(--react-paint-editor-app-canvaswidth);
}

.react-paint-editor-app hr {
    width: 100%;
    border: none;
    border-top: 1px solid var(--react-paint-editor-app-divider-color);
}


.react-paint-editor-app-row {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 100%;
    z-index: var(--react-paint-editor-app-row-zindex);
    aspect-ratio: var(--react-paint-editor-app-row-aspectratio);
}


.react-paint-editor-app-row[data-grow='true'] {
    width: 100%;
}

.react-paint-editor-app-row[data-grow='false'] {
    width: var(--react-paint-editor-app-row-width);
}