.react-paint-editor-app-row {
    position: relative;
    max-width: 100%;
    aspect-ratio: var(--react-paint-editor-app-row-aspectratio);
}


.react-paint-editor-app-row[data-grow='true'] {
    width: 100%;
}

.react-paint-editor-app-row[data-grow='false'] {
    width: var(--react-paint-editor-app-row-width);
}