.react-paint-app-row {
  position: relative;
  max-width: 100%;
  aspect-ratio: var(--react-paint-app-row-aspectratio);
  width: 100%;
}

.react-paint-app-row[data-grow='false'] {
  max-width: calc(var(--react-paint-app-canvaswidth) * 1px);
}

.react-paint-app-row[data-shrink='false'] {
  min-width: calc(var(--react-paint-app-canvaswidth) * 1px);
}
